{%extends "finalbase.html"%}

{%block content%}
<h1 style="text-align:center">Comparisons of Populations and Government Forms to Income Levels</h1>

<div class="col-xs-5">
<div style="text-align:center">
<h2>Populations</h2>
<form action="/page1" class="form-horizontal" id="population">
		<label for="minpop">Minimum Population</label>
		<input type="text" placeholder="minimum population..." id="minpop" name="minpop" class="form-control">
		<br>
		<label for="maxpop">Maximum Population</label>
		<input type="text" placeholder="maximum population..." id="maxpop" name="maxpop" class="form-control">
		<br>
	    <button type="submit" class="form-control btn btn-danger">Submit</button>
</form>
</div>
</div>



<div class="col-xs-5" style="text-align:center">
<h3>Government Forms</h3>
<form action="/page2">
	<label for="govform">Government Form Filter</label>
    <select type="text" id="govform" name="govform" class="form-control">
	{% for name in govform %}
		<option value='{{ name }}'>{{ name }}</option>
	{% endfor %}
	</select>
	<br>
    <button type="submit" class="form-control btn btn-warning">Submit</button>
</form>
</div>
</div>
{%endblock%}