{%extends "finalbase.html"%}

{%block content%}
<h1>Populations</h1>
<p>Countries with population <b>greater than {{minpop}}</b> and <b>less than {{maxpop}}</b>. Click on a country to view its income level.</p>

<div class="col-xs-2">
<form action="/">
    <button type="submit" class="form-control btn btn-success">Return to Home</button>
</form>
</div>

<table class="table table-hover text-centered">
	<th>Country</th>
	<th>Population</th>
	{%for i in name%}
	<tr>
		<td id='{{i}}' onclick='test("{{i.split(' ')[0]}}")'>{{i}}</td>
		<td>{{namepop[i]}}</td>
	</tr>
	{%endfor%}
</table>

<div class="col-xs-2">
<form action="/">
    <button type="submit" class="form-control btn btn-success">Return to Home</button>
</form>
</div>

<script>
	"use strict"

	function test(x){
		fetch('https://restcountries.eu/rest/v2/name/'+x)
	    .then((res)=>res.json())
	    .then((data)=>{
	        let iso=data[0].alpha3Code
        	fetch('http://api.worldbank.org/v2/countries/'+iso+'?format=json')
        	.then((res)=>res.json())
        	.then((data)=>{
	        	let change=document.getElementById(x)
	        	try{
	        		change.innerHTML=data[1][0].incomeLevel.value
	        	}
	        	catch(err){
	        		change.innerHTML="information not available"
	        	}     
	    	})
	    })
	}
</script>
{%endblock%}